node_modules
.DS_Store
dist
dist-ssr
coverage
playwright-report
reports
test-results
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
.vscode
__unconfig*
todos.json
references

.dev.vars*
!.dev.vars.example
!.env.example
